---
layout: post
title:  "Kiểm tra hoạt động của CDC Synchronizer ở mức mô phỏng RTL "
date:   2019-03-17
categories: Verification
author    : Hedwig
---
