---
layout: post
title:  "Kỹ thuật kiểm tra hiệu quả đối với Clock-Domain-Crossing design"
date:   2019-03-17
categories: Verification
author    : Hedwig
comments: true
---


